.btn{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 10px;
    color: #fff;
    border: 000;
    cursor: pointer;
}

.bg-red {
    background-color: #f44336;
}

.bg-black {
    background-color: #000;
}

.bg-green {
    background-color: #4caf50;
}
.btn:hover {
    border: 1px solid #fff;
}
.count{
        width: 100px;
        background: gray;
        padding: 10px;
        font-size: 30px;
        border-radius: 10px;
        margin: auto;
        margin-bottom: 30px;
    }
